.Joinpage{
background-color: #ffe0e6;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.JoinContainer{
    background-color:#890d25;
    border-radius: 10px;;
    border: 2px solid white;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 2%;
}
.join-heading > img{
    width: 5vmax;
    height: 5vmax;
    border-radius: 45px;
}
.join-heading > h1{
    margin: auto;
}
.JoinContainer > h1{
    color: rgb(218, 19, 168);
    font-size: 2vmax;
    width: 30vmax;
    border-bottom: 0.2vmax solid white;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
}
#joininput{
    width: 83%;
    padding: 1vmax;
    border: none;
    border-radius: 11px;
    border: 2px solid #df8f9d;
    background-color: #edd5e7;
    margin-bottom: 10px;
    margin-top:10vh;
    align-self: center;
}
.join-heading{
    display: flex;
    color: #edd5e7  ;
   
}
.btn{
    margin-top: 8%;
    width: 55%;
}